## AI Core Service (Python)
MODEL_PROVIDER=API-END-POINT-OF-YOUR-PROVIDER
PROVIDER_API_KEY=PROVIDER-API-KEY
CHAT_MODEL=YOUR-CHAT-MODEL-NAME
EMBED_MODEL=YOUR-EMBED-MODEL-NAME

## DATABASE CONFIG
DB_HOSTNAME=127.0.0.1
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database
DB_PORT=5432

CHUNK_SIZE=1000
CHUNK_OVERLAP=200
STREAM_TOKENS_PER_CHUNK=15

VERSION=0.1.0
